<body>
  <div id="breef_info">
    <div id="left_col" class="col">
      <div id="img_div">
        <img src={{user.avatar_path}} alt="" id="img">
      </div>
      <div>
        Last accessed: Today
      </div>

    </div>
    <div id="right_col" class="col">
      <div style="font-weight: bold; font-size: 28px;">
        {{user.first_name}}&nbsp;{{user.last_name}}
      </div>
      <div id="email" style="font-size: 20px;">
        {{user.email}}
      </div>
      <div class="line"></div>
      <div style="color: rgb(15, 15, 15); font-size: 18px;  padding-top: 3px;">
        From {{user.city}}, &nbsp;{{user.country}}
      </div>
      <div class="line"></div>
      <div style="color: rgb(0, 0, 0); font-size: 15px;">
        Birthday: {{birthday}}
      </div>
      <div class="line"></div>
      <div id="published">
        Published:
      </div>

    </div>

  </div>


  <div id="lists">

    <table>
      <tr>
        <button (click)="setCurrRead()">Reading list</button>
      </tr>
      <tr>
        <button (click)="setFutureRead()">Wishlist</button>
      </tr>
      <tr>
        <button (click)="setFinishedBooks()">Finished list</button>
      </tr>
    </table>

    <table id="books" *ngIf="currently_reading_flag==true">
      <h4>Currently reading:</h4>
      <tr *ngFor="let book of currently_reading">

        <td *ngIf="book.hasOwnProperty('column1')">
          <div class="coverImg">
            <img src={{book.column1.cover_path}} (click)=" goto_book(book.column1._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column2') ">
          <div class=" coverImg" *ngIf="book.hasOwnProperty('column2')">
            <img src={{book.column2.cover_path}} (click)="goto_book(book.column2._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column3') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column3') ">
            <img src={{book.column3.cover_path}} (click)="goto_book(book.column3._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column4') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column4') ">
            <img src={{book.column4.cover_path}} (click)="goto_book(book.column4._id)">
          </div>
        </td>


      </tr>
    </table>
    <table id="books" *ngIf="finished_reading_flag==true">
      <h4>Finished books:</h4>
      <tr *ngFor="let book of finished_reading">


        <td *ngIf="book.hasOwnProperty('column1')">
          <div class="coverImg">
            <img src={{book.column1.cover_path}} (click)=" goto_book(book.column1._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column2') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column2')">
            <img src={{book.column2.cover_path}} (click)="goto_book(book.column2._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column3') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column3') ">
            <img src={{book.column3.cover_path}} (click)="goto_book(book.column3._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column4') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column4') ">
            <img src={{book.column4.cover_path}} (click)="goto_book(book.column4._id)">
          </div>
        </td>


      </tr>
    </table>
    <table id="books" *ngIf="want_to_read_flag==true">
      <h4>Want to read:</h4>
      <tr *ngFor="let book of want_to_read">

        <td *ngIf="book.hasOwnProperty('column1')">
          <div class="coverImg">
            <img src={{book.column1.cover_path}} (click)=" goto_book(book.column1._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column2') ">
          <div class=" coverImg" *ngIf="book.hasOwnProperty('column2')">
            <img src={{book.column2.cover_path}} (click)="goto_book(book.column2._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column3') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column3') ">
            <img src={{book.column3.cover_path}} (click)="goto_book(book.column3._id)">
          </div>
        </td>

        <td *ngIf="book.hasOwnProperty('column4') ">
          <div class="coverImg" *ngIf="book.hasOwnProperty('column4') ">
            <img src={{book.column4.cover_path}} (click)="goto_book(book.column4._id)">
          </div>
        </td>


      </tr>
    </table>
  </div>
</body>
