<body>
  <div *ngIf="search_flag==false">
    <form>
      <table id="search">
        <tr>
          <td>
            Name:
          </td>
          <td>
            <input type="search" name="name" class="search_box" [(ngModel)]="name">
          </td>
        </tr>
        <tr>
          <td>
            Author:
          </td>
          <td>
            <input type="search" name="author" class="search_box" [(ngModel)]="author">
          </td>
        </tr>
        <tr>
          <td>
            Genre:
          </td>
          <td>
            <select name="genre" id="genre" [(ngModel)]="genre">
              <option value="horor">Horror</option>
              <option value="drama">Drama</option>
              <option value="fantasy">Fantasy</option>
              <option value="poetry">Poetry</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" id="button">
            <button (click)="search()" name="search" id="search_btn"> Search </button>
          </td>
        </tr>
      </table>
    </form>

  </div>
  <div *ngIf="search_flag==true">
    <table id="books">
      <tr *ngFor="let book of books">
        <td>
          {{book.Name}}
        </td>
        <td>
          <div id="coverImg">
            <img width="400" height="400" src={{book.column1.cover_path}}>
          </div>
        </td>

        <td>
          <div id="coverImg">
            <img width="400" height="400" src={{book.column2.cover_path}}>
          </div>
        </td>

        <td>
          <div id="coverImg">
            <img width="400" height="400" src={{book.column3.cover_path}}>
          </div>
        </td>

        <td>
          <div id="coverImg">
            <img width="400" height="400" src={{book.column4.cover_path}}>
          </div>
        </td>


      </tr>
    </table>
  </div>
</body>
