<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div id="breef_info" *ngIf="book_came == true">
    <div id="left_col" class="col">
      <div id="img_div">
        <img src={{book.cover_path}} alt="" id="img">
      </div>
      <div id="read_lists">
        <form *ngIf="user.username!='Guest'">
          <select name="list_type" id="lists" [(ngModel)]="list_type" (change)="addToList()">
            <option value="" disabled hidden selected>Add to a list</option>
            <option value="want_to_read">Want to Read</option>
            <option value="finished_reading">Read</option>
            <option value="currently_reading">Currently Reading</option>
          </select>

        </form>
      </div>

    </div>
    <div id="right_col" class="col">
      <div style="font-weight: bold; font-size: 28px;">
        {{book.name}}
      </div>
      <div style="color: rgb(15, 15, 15); font-size: 18px;  padding-top: 3px;">
        by {{authors}}
      </div>
      <div class="line"></div>
      <div style="color: rgb(0, 0, 0); font-size: 15px;" *ngIf="real_rating==0">
        No reviews yet
      </div>
      <div style="color: rgb(0, 0, 0); font-size: 15px;" *ngIf="real_rating>0">
        Average review: {{real_rating}}
      </div>
      <div class="line"></div>

      <div id="description">
        {{book.description}}
      </div>
      <div class="line"></div>
      <div id="published">
        Published: {{date_of_publishing}}
      </div>

    </div>
  </div>


  <div class="line" id="bigline"></div>


  <div id="comments">
    <div id="add_comment" *ngIf="already_reviewed==false && this.user.username != 'Guest'">
      <form class="form" id="second_form">
        <h2>Write a review</h2>
        <p type="Text:"><br> <textarea name="comment" placeholder="Type your comment text here..."
            [(ngModel)]="my_comment_text" class="input-text"></textarea>
        </p>

        <p type="Rating:"> <input type="number" min="1" max="10" name="rating" id="rating" placeholder="eg. 8.7"
            [(ngModel)]="my_rating" />
        </p>

        <button (click)='addComment()' class="button" style="margin-top: 5px;">Submit review</button>

      </form>
    </div>

    <div class="line" id="bigline2" *ngIf="already_reviewed==false && this.user.username != 'Guest'"></div>
    <h1 style="text-align: center;" id="title_comments">User reviews</h1>

    <div id="other_comments" *ngFor="let comment of all_comments">
      <div class="comment">
        <div class="user_img_div">
          <img src={{user.avatar_path}} id="user_img">
          <div style="text-align: center;">
            {{comment.rating}}
          </div>
        </div>
        <div id="text">
          <div id="username">
            <div *ngIf="user.username!='Guest'">
              {{comment.username}}
            </div>
            <div *ngIf="user.username=='Guest'" style="font-style: italic; font-weight: 700;">
              Username hidden
            </div>

          </div>
          {{comment.comment}}
        </div>

      </div>
    </div>
  </div>


</body>

</html>
