/*Needed for every component to be shown in home page!*/
/* ! */

body {
  color: black;
  background-color: rgb(95, 95, 95);
  padding-top: 70px;
  padding-left: 30%;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

/* ! */
/* END */
